
body {
  height: 100vh;
  width: 100vw;
}

.container {
    background-color: blueviolet;
    overflow: hidden;
    height: 100vh;
  }
  .header {
    color: #ffffff;
    padding-top: 54px;
    font-family: SANS-SERIF;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.22px;
    text-align: center;
  }

  .content {
    white-space: pre-wrap;
    font-family: Spoqa Han Sans;    
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    padding-top: 21px;
    text-align: center;
    color: #ece5ff;
  }

  .backgroundImage {
    background-image: url('../src/assets/images/loginImage.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 349px;
    padding-top: 39.8px;
  }

  .buttonGroup {
    position: relative;
    top: -140px;
    height: 100vh;
    background-color: white;
  }

  .buttons {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column; /* 세로 */
    align-items: center;
    
  }
  @media ( min-width: 380px ) {
    .buttons {
      display: flex;
      justify-content: space-around;
      flex-direction: row; /* 가로 */
      align-items: center;
      margin: auto 0;
    }
  }
