
@mixin button($bgcolor, $color) {
  background-color: $bgcolor;
  width: 310px;
  height: 50px; 
  border: none;
  color: $color;
  text-align: right;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 10px 10px;
}

@mixin buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin buttonLogo {
  margin-left: 26px;
}

@mixin  buttonName {
  margin-right: 25px;
  font-family: YoonGothic740;
}

body {
  //overflow: hidden;
  margin: auto;
}

.container {
    background-color: #a07cfc;
    height: 100vh;

    .header {
      color: #ffffff;
      padding-top: 54px;
      font-family: Lato Bold;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: 0.22px;
      text-align: center;
    }

    .content {
      white-space: pre-wrap;
      font-family: Spoqa Han Sans;    
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      padding-top: 21px;
      text-align: center;
      color: #ece5ff;
    }

    .backgroundImage {
      background-image: url('../src/assets/images/loginImage.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 349px;
      padding-top: 39.8px;
      margin-right: 29px;
    }

    .buttonGroup {
      position: relative;
      top: -140px;
      height: 100vh;
      background-color: white;

      .buttons {
        position: relative;
        top: 2%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column; /* 세로 */
        align-items: center; 

        .btn {
          &_facebook {
            @include button(#4185d8, white);

            &_group {
              @include buttonGroup();
            }

            &_logo {
              @include buttonLogo();
            }

            &_name {
              @include buttonName();
            }
          }

          &_kakao {
            @include button(#ffd77c, black);

            &_group {
              @include buttonGroup();
            }

            &_logo {
              @include buttonLogo();
            }

            &_name {
              @include buttonName();
            }
          }

          &_google {
            @include button(#eb5864, white);

            &_group {
              @include buttonGroup();
            }

            &_logo {
              @include buttonLogo();
            }

            &_name {
              @include buttonName();
            }
          }
        }
      }

      // @media ( min-width: 380px ) {
      //   .buttons {
      //     position: relative;
      //     top: 15%;
      //     display: flex;
      //     justify-content: space-evenly;
      //     flex-direction: row; /* 가로 */
      //     align-items: center;
      //     margin: auto 0;
      //   }
      // }
    }
  }

.main {

    &_header {
      margin: auto;
      margin-top: 25px;
      margin-bottom: 35px;
      color: black;
      width: 85px;
      height: 27px;
      font-family: Lato Bold;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav_group {
      display: flex;
      justify-content: space-between;

      .navs {
        font-family: IBMPlexSans-Medium;
        font-size: 16px;
        font-weight: 500;
        color: #555553;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        flex-grow: 0;
        flex-basis: 200px;
      }

      @media ( min-width: 380px ) {
        .navs {
          margin-left: 15px;
          display: flex;
          justify-content: space-between;
          flex-grow: 0;
          flex-basis: 400px;
        }
      }

      .loginout {
        margin-right: 23px;
      }
      
    }

    .hr {
      border: 0.5px solid #e3dac9;
      width: 94%;
      opacity: 0.3;
    }

    &_content {
      align-items: center;

      .description {
        margin-top: 43.5px;
        margin-bottom: 11px;
        font-family: IBMPlexSans-Bold;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #52524e;
      }

      .subdescription {
        font-family: IBMPlexSans-Medium;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #6e6e69;
      }
    }
}

.plugins {
  margin-top: 44px;

  .flicking {
    width: 350px;
    height: 280px;
    margin: 0px auto;
    background: white;
    border-radius: 5px;

    .panel {
      position: relative;
      display: block;
      border-radius: 5px;
      width: 350px;
      margin-top: 5px;
      height: 280px;
      text-align: center;
      line-height: 200px;
      overflow: hidden;

      .info {
        position: absolute;
        top: 47%;
        left: 5%;
        transform: translateY(-50%);

        .price_description {
          color: #ffffff;
          position: relative;
          width: 290px;
          top: 35%;
          left: 3%; 
    
          &_header {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
    
            &_main{
              font-family: IBMPlexSans-Bold;
              font-size: 18px;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.28;
              letter-spacing: 0.18px;
              text-align: left;
            }
      
            &_sub {
              font-family: IBMPlexSans;
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.25;
              letter-spacing: 0.16px;
              text-align: left;
            }
    
            .division_img {
              background-image: url('../src/assets/images/divide.svg');
              background-repeat: no-repeat;
              background-position: right;
              height: 20px;
            }
          }

          .hr_card {
            border: 0.01em solid white;
            opacity: 0.5;
          }
          
          &_content {
            font-family: IBMPlexSans;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 200px;
            margin-left: auto;
            margin-top: 16.5px;
            margin-bottom: 16.5px;
    
    
            .upper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
    
              &_name {
                font-size: 12px;
                font-weight: 600;
                line-height: 2;
                letter-spacing: normal;
              }
    
              &_detail {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.28;
                letter-spacing: 0.18px;
              }
            }
    
            .under {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
              margin-top: 11px;
    
              &_name {
                font-family: IBMPlexSans-Bold;
                font-size: 12px;
                font-weight: 600;
                line-height: 2;
                letter-spacing: normal;
              }
    
              &_detail {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.28;
                letter-spacing: 0.18px;
              }
            }
          }
    
          &_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 200px;
            margin-left: auto;
            margin-top: 25.5px;
    
            &_name {
              font-family: IBMPlexSans-Bold;
              font-size: 12px;
              font-weight: 600;
              line-height: 2;
              letter-spacing: normal;
            }
    
            &_detail {
              font-family:Lato Bold;
              font-size: 26px;
              font-weight: bold;
              line-height: 1.23;
              letter-spacing: 0.26px;
            }
          }
          
        }
      }
    }
  }

  .panel:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .panel img {
    top: -100%;
    bottom: -100%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

}

#parallax .flicking .panel {
  width: 345px;
}

.main_header {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 35px;
  color: black;
  width: 85px;
  height: 27px;
  font-family: Lato Bold;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_group {
  display: flex;
  justify-content: space-between;

  .navs {
    font-family: IBMPlexSans-Medium;
    font-size: 16px;
    font-weight: 500;
    color: #555553;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-basis: 200px;
  }

  @media ( min-width: 380px ) {
    .navs {
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
      flex-grow: 0;
      flex-basis: 400px;
    }
  }

  .loginout {
    margin-right: 23px;
  }
  
}

.hr {
  border: 0.5px solid #e3dac9;
  width: 94%;
  opacity: 0.3;
}

  @font-face {
    font-family: "Lato Bold";
    src: url('../src/assets/fonts/Lato-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: "Spoqa Han Sans";
    src: url('../src/assets/fonts/SpoqaHanSansRegular.ttf') format('truetype');
  }

  @font-face {
    font-family: "YoonGothic740";
    src: url('../src/assets/fonts/YoonGothicPro740.woff.ttf') format('truetype');
  }

  @font-face {
    font-family: "IBMPlexSans-Medium";
    src: url('../src/assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: "IBMPlexSans-Bold";
    src: url('../src/assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  }
