@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 200;
  src: url("./assets/fonts/SpoqaHansSansRegular.ttf") format("truetype");
}

body {
  margin: auto;
}

#jb-container {

    background-color: blueviolet;
  }

  #jb-content {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
    
  }

  #jb-sidebar {
    
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
  }

  #leftGlass {
    padding-top: 39.8px;
    width: 187.5px;
}

  #jb-footer {
    padding: 20px;
    border: 1px solid #bcbcbc;
  }
  @media ( min-width: 380px ) {
    #jb-container {
      width: 940px;
    }
    #jb-content {
      width: 580px;
      float: left;
    }
    #jb-sidebar {
      width: 260px;
      float: right;
    }
    #jb-footer {
      clear: both;
    }
  }
