

.container {
    background-color: blueviolet;
  }
  .header {
    color: #ffffff;
    width: 85px;
    height: 27px;
    font-family: SANS-SERIF;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.22px;
    text-align: center;
  }

  .content {
    white-space: pre-wrap;
    width: 264px;
    height: 62px;
    font-family: Spoqa Han Sans;    
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #ece5ff;
  }
  .wrapper {
    position:"relative";
  }

  .backgroundImage {
    background-position:"center"
  }

  .buttonGroup {
      display: inline;
    align-content: center;
    justify-content: space-around;
    position: absolute;
    top: 85%;
    background-color: white;
  }
  @media ( min-width: 380px ) {
    .container {
      /* width: 940px; */
    }
    .content {
      width: 580px;
      float: left;
    }
    #jb-sidebar {
      width: 260px;
      float: right;
    }
    #jb-footer {
      clear: both;
    }
  }
