
@mixin button($bgcolor, $color) {
  background-color: $bgcolor;
  width: 310px;
  height: 50px; 
  border: none;
  color: $color;
  text-align: right;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 10px 10px;
}

@mixin buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin buttonLogo {
  margin-left: 26px;
}

@mixin  buttonName {
  margin-right: 25px;
  font-family: YoonGothic740;
}

body {
  overflow: hidden;
  margin: auto;
}

.container {
    background-color: blueviolet;
    height: 100vh;

    .header {
      color: #ffffff;
      padding-top: 54px;
      font-family: Lato Bold;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: 0.22px;
      text-align: center;
    }

    .content {
      white-space: pre-wrap;
      font-family: Spoqa Han Sans;    
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      padding-top: 21px;
      text-align: center;
      color: #ece5ff;
    }

    .backgroundImage {
      background-image: url('../src/assets/images/loginImage.svg');
      background-repeat: no-repeat;
      background-position: center;
      height: 349px;
      padding-top: 39.8px;
    }

    .buttonGroup {
      position: relative;
      top: -140px;
      height: 100vh;
      background-color: white;

      .buttons {
        position: relative;
        top: 2%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column; /* 세로 */
        align-items: center; 

        .btn {
          &_facebook {
            @include button(#4185d8, white);

            &_group {
              @include buttonGroup();
            }

            &_logo {
              @include buttonLogo();
            }

            &_name {
              @include buttonName();
            }
          }

          &_kakao {
            @include button(#ffd77c, black);

            &_group {
              @include buttonGroup();
            }

            &_logo {
              @include buttonLogo();
            }

            &_name {
              @include buttonName();
            }
          }

          &_google {
            @include button(#eb5864, white);

            &_group {
              @include buttonGroup();
            }

            &_logo {
              @include buttonLogo();
            }

            &_name {
              @include buttonName();
            }
          }
        }
      }

      @media ( min-width: 380px ) {
        .buttons {
          position: relative;
          top: 15%;
          display: flex;
          justify-content: space-evenly;
          flex-direction: row; /* 가로 */
          align-items: center;
          margin: auto 0;
        }
      }
    }
  }

  @font-face {
    font-family: "Lato Bold";
    src: url('../src/assets/fonts/Lato-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: "Spoqa Han Sans";
    src: url('../src/assets/fonts/SpoqaHanSansRegular.ttf') format('truetype');
  }

  @font-face {
    font-family: "YoonGothic740";
    src: url('../src/assets/fonts/YoonGothicPro740.woff.ttf') format('truetype');
  }
